@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.scroll-animate {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-animate.animate-in {
  opacity: 1;
  transform: translateY(0);
}
@theme {
  --color-primary: #f59e0b;
  --color-secondary: #ec4899;
}